# Charting the Course for Maji Ndogo's Water Future

## Introduction

In this third part of the integrated project, we will pull data from many different tables and apply some statistical analyses to examine the consequences of an audit report that cross-references a random sample of records.

## Notebook setup

In [1]:
# Load the sql extension
%load_ext sql

Deploy Shiny apps for free on Ploomber Cloud! Learn more: https://ploomber.io/s/signup

In [2]:
# Create a connection to the mysql 'md_water_services' database
%sql mysql+pymysql://root:password@localhost:3306/md_water_services

Connecting to 'mysql+pymysql://root:***@localhost:3306/md_water_services'

From the ERD above, we can see that the visits table is the central table connecting other tables together.

- `location_id` is the **PRIMARY KEY** in the `location` table and a **FOREIGN KEY** in the `visits` table.
- `source_id` is the **PRIMARY KEY** in the `water_source` table and a **FOREIGN KEY** in the `visits` table.
- `assigned_employee_id` is the **PRIMARY KEY** in the `employee` table and a **FOREIGN KEY** in the `visits` table.

In a nutshell, the `visits` table logs **multiple** instances that a unique `location` was visited by a unique `employee` with interest to a particular `water_source`, hence the relationship between the three tables with the `visits` tables exudes a **one-to-many** relationship.

However, according to the ERD, the relationship between the `visits` table and `water_quality` table is a **one-to-many** relationship and yet according to our initial understanding, there should be one unique corresponding record in a water quality table to that of the `visits` table aluding to a potential error in the representation of a relationship between the two tables. hence we need to correct that.

![The Updated Maji Ndogo Water Services ERD!](./assets/updated_md_water_services_erd.png)

In [3]:
%%sql
# Retrieve information from tables of interest and combine them into a view for simplified analysis
SELECT
    l.province_name,
    l.town_name,
    ws.type_of_water_source,
    l.location_type,
    ws.number_of_people_served,
    v.time_in_queue,
    wp.results
FROM
	visits AS v
LEFT JOIN
	well_pollution AS wp
    ON wp.source_id = v.source_id
JOIN
	location AS l
    ON v.location_id = l.location_id
JOIN
	water_source AS ws
    ON ws.source_id = v.source_id
WHERE 
	v.visit_count = 1;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

39650 rows affected.

+---------------+-----------+----------------------+---------------+-------------------------+---------------+------------------------+
| province_name | town_name | type_of_water_source | location_type | number_of_people_served | time_in_queue |        results         |
+---------------+-----------+----------------------+---------------+-------------------------+---------------+------------------------+
|     Sokoto    |   Ilanga  |        river         |     Urban     |           402           |       15      |          None          |
|    Kilimani   |   Rural   |         well         |     Rural     |           252           |       0       |      Contaminated      |
|    Hawassa    |   Rural   |      shared_tap      |     Rural     |           542           |       62      |          None          |
|     Akatsi    |   Lusaka  |         well         |     Urban     |           210           |       0       |      Contaminated      |
|     Akatsi    |   Rural   |      shared_tap      |     Rural     |           2598          |       28      |          None          |
|    Kilimani   |   Rural   |        river         |     Rural     |           862           |       9       |          None          |
|     Akatsi    |   Rural   |  tap_in_home_broken  |     Rural     |           496           |       0       |          None          |
|    Kilimani   |   Rural   |     tap_in_home      |     Rural     |           562           |       0       |          None          |
|    Hawassa    |  Zanzibar |         well         |     Urban     |           308           |       0       | Contaminated: Chemical |
|     Amanzi    |   Dahabu  |     tap_in_home      |     Urban     |           556           |       0       |          None          |
+---------------+-----------+----------------------+---------------+-------------------------+---------------+------------------------+
Truncated to displaylimit of 10.

In [5]:
%%sql
CREATE VIEW combined_analysis_table AS
# This view combines multiple tables of interest for simplified analysis
SELECT
    l.province_name,
    l.town_name,
    ws.type_of_water_source AS source_type,
    l.location_type,
    ws.number_of_people_served AS people_served,
    v.time_in_queue,
    wp.results
FROM
	visits AS v
LEFT JOIN
	well_pollution AS wp
    ON wp.source_id = v.source_id
JOIN
	location AS l
    ON v.location_id = l.location_id
JOIN
	water_source AS ws
    ON ws.source_id = v.source_id
WHERE 
	v.visit_count = 1;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

++
||
++
++

In [6]:
%%sql
WITH province_totals AS (
	SELECT
		province_name,
        SUM(people_served) AS total_ppl_serv
	FROM
		combined_analysis_table
	GROUP BY
		province_name
)
SELECT
	ct.province_name,
	ROUND(SUM(CASE WHEN source_type = "river" THEN people_served ELSE 0 END) * 100.0 / pt.total_ppl_serv) AS river,
    ROUND(SUM(CASE WHEN source_type = "shared_tap" THEN people_served ELSE 0 END) * 100.0 / pt.total_ppl_serv) AS shared_tap,
    ROUND(SUM(CASE WHEN source_type = "tap_in_home" THEN people_served ELSE 0 END) * 100.0 / pt.total_ppl_serv) AS tap_in_home,
    ROUND(SUM(CASE WHEN source_type = "tap_in_home_broken" THEN people_served ELSE 0 END) * 100.0 / pt.total_ppl_serv) AS tap_in_home_broken,
    ROUND(SUM(CASE WHEN source_type = "well" THEN people_served ELSE 0 END) * 100.0 / pt.total_ppl_serv) AS well
FROM
	combined_analysis_table AS ct
JOIN
	province_totals AS pt
    ON ct.province_name = pt.province_name
GROUP BY
	ct.province_name
ORDER BY
	ct.province_name;

Running query in 'mysql+pymysql://root:***@localhost:3306/md_water_services'

5 rows affected.

+---------------+-------+------------+-------------+--------------------+------+
| province_name | river | shared_tap | tap_in_home | tap_in_home_broken | well |
+---------------+-------+------------+-------------+--------------------+------+
|     Akatsi    |   5   |     49     |      14     |         10         |  23  |
|     Amanzi    |   3   |     38     |      28     |         24         |  7   |
|    Hawassa    |   4   |     43     |      15     |         15         |  24  |
|    Kilimani   |   8   |     47     |      13     |         12         |  20  |
|     Sokoto    |   21  |     38     |      16     |         10         |  15  |
+---------------+-------+------------+-------------+--------------------+------+